@import "./Signup.css";

.forgot {
  text-align: right;
  margin-bottom: 16px;
  color:aqua;
}

.forgot a {
  color: #3b82f6;
}

.signup-text {
  margin-top: 18px;
  text-align: center;
  color: pink;
}

.signup-text a {
  color: #3b82f6;
}
